In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('car_price_dataset.csv')
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [4]:
df.shape

(10000, 10)

In [5]:
df.isnull().sum()

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB

In [7]:
brand=pd.get_dummies(df['Brand'],prefix="Brand")
model=pd.get_dummies(df['Model'],prefix="Model")
fuel_type=pd.get_dummies(df['Fuel_Type'],prefix="Fuel_Type")
transmission=pd.get_dummies(df['Transmission'],prefix="Transmission")

In [8]:
print(brand)

      Brand_Audi  Brand_BMW  Brand_Chevrolet  Brand_Ford  Brand_Honda  \
0              0          0                0           0            0
1              0          0                1           0            0
2              0          0                0           0            0
3              1          0                0           0            0
4              0          0                0           0            0
...          ...        ...              ...         ...          ...
9995           0          0                0           0            0
9996           0          0                1           0            0
9997           0          1                0           0            0
9998           0          0                0           1            0
9999           0          0                0           0            0

      Brand_Hyundai  Brand_Kia  Brand_Mercedes  Brand_Toyota  Brand_Volkswagen
0                 0          1               0             0                 0
1                 0          0               0             0                 0
2                 0          0               1             0                 0
3                 0          0               0             0                 0
4                 0          0               0             0                 1
...             ...        ...             ...           ...               ...
9995              0          1               0             0                 0
9996              0          0               0             0                 0
9997              0          0               0             0                 0
9998              0          0               0             0                 0
9999              0          0               0             0                 1

[10000 rows x 10 columns]

In [9]:
print(model)

      Model_3 Series  Model_5 Series  Model_A3  Model_A4  Model_Accord  \
0                  0               0         0         0             0
1                  0               0         0         0             0
2                  0               0         0         0             0
3                  0               0         0         0             0
4                  0               0         0         0             0
...              ...             ...       ...       ...           ...
9995               0               0         0         0             0
9996               0               0         0         0             0
9997               1               0         0         0             0
9998               0               0         0         0             0
9999               0               0         0         0             0

      Model_C-Class  Model_CR-V  Model_Camry  Model_Civic  Model_Corolla  ...  \
0                 0           0            0            0              0  ...
1                 0           0            0            0              0  ...
2                 0           0            0            0              0  ...
3                 0           0            0            0              0  ...
4                 0           0            0            0              0  ...
...             ...         ...          ...          ...            ...  ...
9995              0           0            0            0              0  ...
9996              0           0            0            0              0  ...
9997              0           0            0            0              0  ...
9998              0           0            0            0              0  ...
9999              0           0            0            0              0  ...

      Model_Optima  Model_Passat  Model_Q5  Model_RAV4  Model_Rio  \
0                0             0         0           0          1
1                0             0         0           0          0
2                0             0         0           0          0
3                0             0         1           0          0
4                0             0         0           0          0
...            ...           ...       ...         ...        ...
9995             1             0         0           0          0
9996             0             0         0           0          0
9997             0             0         0           0          0
9998             0             0         0           0          0
9999             0             0         0           0          0

      Model_Sonata  Model_Sportage  Model_Tiguan  Model_Tucson  Model_X5
0                0               0             0             0         0
1                0               0             0             0         0
2                0               0             0             0         0
3                0               0             0             0         0
4                0               0             0             0         0
...            ...             ...           ...           ...       ...
9995             0               0             0             0         0
9996             0               0             0             0         0
9997             0               0             0             0         0
9998             0               0             0             0         0
9999             0               0             1             0         0

[10000 rows x 30 columns]

In [10]:
print(fuel_type)

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Hybrid  Fuel_Type_Petrol
0                    1                   0                 0                 0
1                    0                   0                 1                 0
2                    1                   0                 0                 0
3                    0                   1                 0                 0
4                    0                   0                 1                 0
...                ...                 ...               ...               ...
9995                 1                   0                 0                 0
9996                 0                   1                 0                 0
9997                 0                   0                 0                 1
9998                 0                   0                 1                 0
9999                 1                   0                 0                 0

[10000 rows x 4 columns]

In [11]:
print(transmission)

      Transmission_Automatic  Transmission_Manual  Transmission_Semi-Automatic
0                          0                    1                            0
1                          1                    0                            0
2                          1                    0                            0
3                          0                    1                            0
4                          0                    0                            1
...                      ...                  ...                          ...
9995                       0                    0                            1
9996                       1                    0                            0
9997                       1                    0                            0
9998                       1                    0                            0
9999                       0                    1                            0

[10000 rows x 3 columns]

In [12]:
df.drop(["Brand","Model","Fuel_Type","Transmission"],axis=1,inplace=True)
df=pd.concat([df,brand,model,fuel_type,transmission],axis=1)
df

,Year,Engine_Size,Mileage,Doors,Owner_Count,Price,Brand_Audi,Brand_BMW,Brand_Chevrolet,Brand_Ford,...,Model_Tiguan,Model_Tucson,Model_X5,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Transmission_Semi-Automatic
0,2020,4.2,289944,3,5,8501,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,2012,2.0,5356,2,3,12092,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
2,2020,4.2,231440,4,2,11171,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,2023,2.0,160971,2,1,11780,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,2003,2.6,286618,3,3,2867,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2004,3.7,5794,2,4,8884,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
9996,2002,1.4,168000,2,1,6240,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
9997,2010,3.0,86664,5,1,9866,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
9998,2002,1.4,225772,4,1,4084,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
9999,2001,2.1,157882,3,3,3342,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [14]:
X = df.drop("Price", axis=1)
y = df["Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = reg.predict(X_test)

In [17]:
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f"RÂ² Score: {r2}")
print(f"Mean Squared Error: {mse}")

RÂ² Score: 0.9995413588095119
Mean Squared Error: 4213.908964277106